//////////////////////////////////////////////////
// COLORS
$color-primary: hsl(263, 55%, 52%);
$color-secondary: hsl(217, 19%, 35%);
$color-tertiary: hsl(219, 29%, 14%);

$color-white: hsl(0, 0%, 100%);
$color-grey--1: hsl(0, 0%, 81%);
$color-grey--2: hsl(210, 46%, 95%);

//////////////////////////////////////////////////
// FONTS
$font-small: 1.1rem;
$font-medium: 1.3rem;
$font-large: 2rem;

//////////////////////////////////////////////////
// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == tiny {
    @media only screen and (max-width: 21em) {
      // < 336px
      @content;
    }
  }

  @if $breakpoint == verysmall {
    @media only screen and (max-width: 26.5em) {
      // < 424px
      @content;
    }
  }

  @if $breakpoint == small {
    @media only screen and (max-width: 45.25em) {
      // < 724px
      @content;
    }
  }

  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) {
      // < 900px
      @content;
    }
  }

  @if $breakpoint == large {
    @media only screen and (max-width: 70.25em) {
      // < 1124px
      @content;
    }
  }
}
